body, html {
	height: 100%;
	font-family: Arial;
}

.bg-image {
	/* The image used */
	background-image: url("https://i.ibb.co/LzYJ66Q/Blurred-Image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 200%;
}

.w3-black, .w3-hover-black:hover {
	color: #fff !important;
	background-color: #363130 !important;
}

.bg-image-login {
	/* The image used */
	background-image: url("https://i.ibb.co/LzYJ66Q/Blurred-Image.jpg");
	height: 100%;
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
}
/* Position text in the middle of the page/image */
.bg-text {
	/*background-color: white;*/ /*rgb(0,0,0);*/ /* Fallback color */
	/* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1; /*#f1f1f1*/
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.bg-text-login {
	background-color: rgba(0, 0, 0, 0.); /* Black w/opacity/see-through */
	color: white; /*font-color*/
	font-weight: bold;
	border: 2px solid #f1f1f1; /*#f1f1f1*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 50%;
	padding: 20px;
	text-align: center;
	font-size: 25px;
}
/* for sent-success page to remove the border */
.bg-text-forgot{
	background-color: rgba(0, 0, 0, 0.); /* Black w/opacity/see-through */
	color: white; /*font-color*/
	font-weight: bold;
	border: 0px solid #f1f1f1; /*#f1f1f1*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 50%;
	padding: 20px;
	text-align: center;
	font-size: 29px;
}
.bg-text-about {
	background-color: rgba(0, 0, 0, 0.); /* Black w/opacity/see-through */
	color: black; /*font-color*/
	font-weight: bold;
	border: 2px solid #f1f1f1; /*#f1f1f1*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 50%;
	padding: 20px;
	text-align: center;
	font-size: 20px;
}

span {
	color: red;
	font-weight: bold;
}

.demoInputBox {
	padding: 7px;
	border: #F0F0F0 1px solid;
}

#password-strength-status {
	padding: 5px 10px;
	color: #FFFFFF;
	border-radius: 4px;
	margin-top: 5px;
}

.medium-password {
	background-color: #b7d60a;
}

.weak-password {
	background-color: #ce1d14;
}

.strong-password {
	background-color: #12CC1A;
}

