@charset "ISO-8859-1";

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif
}

.w3-bar, h1, button {
	font-family: "Montserrat", sans-serif
}

.fa-anchor, .fa-coffee {
	font-size: 200px
}

.w3-red, .w3-hover-red:hover {
	color: #fff !important;
	background-color: #ff8080 !important;
}

.w3-text-red, .w3-hover-text-red:hover {
	color: #bd817d85 !important;
}

.w3-header {
	background-color: #363130 !important;
}