@charset "ISO-8859-1";
* {
  box-sizing: border-box;
}
body
    {

     
         background-color: #ff8080;
		 
	
	/* Center and scale the image nicely */
	
	background-repeat: repeat;
	background-size: cover;
        opacity: inherit;
        
    
    }
   .line
    {
    
             background-color:black;
		 
    }
    
    
.column{   /* /for picture of person/ */
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 
        table, th, td {
  border: 1px solid black;
}
   
        

        .column:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
       
        header {
  display: block;
  padding: 5px;
            text-decoration-style: wavy;
}
         .container{  
text-align: center;  
border: 0px solid red;  
width: 100%;  
height: 100%;  
padding-top: 100px;  
}  
    .w3-button {
        width:150px;
    }
    .container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(5, 0, 0, 0.26); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
   
        .button {
  background-color: #f443; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration:bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor:progress;
            float :right;
        
}
   
.button:hover {background-color:white;
color:black; }
.w3-bar, button,p {
	font-family: "Montserrat", sans-serif;
    font-size:large;
}
   .w3-black, .w3-hover-black:hover {
	color: #fff !important;
	background-color: #363130 !important;
}
        .button2 {background-color:black;}
     
        
        * {
  box-sizing: border-box;
}
        
.column {
  float: inherit;
  width:33.3%;
  padding: 5px;
}
        
        .row::after {
  content: "";
  clear:left;
    
  display:inline-grid;
}