@charset "ISO-8859-1";

body {
	background-image: url("https://i.ibb.co/LzYJ66Q/Blurred-Image.jpg");
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
	opacity: inherit;
}

.w3-bar, button, p {
	font-family: "Montserrat", sans-serif;
	font-size: large;
}

.w3-black, .w3-hover-black:hover {
	color: #fff !important;
	background-color: #363130 !important;
}

.container {
	text-align: center;
	border: 0px solid red;
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

.w3-button {
	width: 150px;
}

.container .content {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(5, 0, 0, 0.26);
	/* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	left:0px;
}

